@model AcademicQualificationModel

<table class="table table-bordered mt-2">
    <tr>
        <th>Title</th>
        <th>Major</th>
        <th>Institute</th>
        <th>Result</th>
        <th>Pass Year</th>
        <th>Duration</th>
    </tr>
    <tr>
        <td>
            <div class="form-group mt-2">
                <input asp-for="title" class="form-control" />
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input asp-for="major" class="form-control" />
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input asp-for="institute" class="form-control" />
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input asp-for="result" class="form-control" />
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input asp-for="passYear" class="form-control" />
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input asp-for="duration" class="form-control" />
            </div>
        </td>
    </tr>
</table>