@model CV_Model

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="Index" enctype="multipart/form-data">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-6 ">
                <div class="form-group">
                    <input asp-for="name" placeholder="Full Name*" type="text" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <textarea asp-for="address_contact" placeholder="Address*" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-4 ">
                <img id="image" />

                <div class="form-group mt-2 mb-2">
                    <input style="width:80%" onchange="photoUpload(event)" asp-for="imgFile" class="form-control" />
                </div>
            </div>

        </div>
        <div class="row">
            <hr />
            <div class="form-group mt-2">
                <textarea asp-for="careerObjective" placeholder="Career Objective*" class="form-control"></textarea>
            </div>
            <div class="form-group mt-2">
                <textarea asp-for="specialQualification" placeholder="Special Qualification*" class="form-control"></textarea>
            </div>

            <div class="form-group mt-2">
                <textarea asp-for="projectsHistory" placeholder="Project History*" class="form-control"></textarea>
            </div>
            <div class="form-group mt-2">
                <input asp-for="titleOne" placeholder="Title One*" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <textarea asp-for="titleOneDecs" placeholder="Title One Description*" class="form-control"></textarea>
            </div>
            <div class="form-group mt-2">
                <label>Training Summary*</label>
                <table class="table table-bordered mt-2">
                    <tr>
                        <th>Training Title</th>
                        <th>Topic</th>
                        <th>Institute</th>
                        <th>Country</th>
                        <th>Location</th>
                        <th>Year</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="trainingTitle" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="topic" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="institute" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="country" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="location" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="year" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group mt-2">
                <label>University Information*</label>
                <table class="table table-bordered mt-2">
                    <tr>
                        <th>Title</th>
                        <th>Major</th>
                        <th>Institute</th>
                        <th>Result</th>
                        <th>Pass Year</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="degree_title" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="major" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="varsity" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="result" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="passYear" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="duration" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group mt-2">
                <label>Collage Information*</label>
                <table class="table table-bordered mt-2">
                    <tr>
                        <th>Title</th>
                        <th>Major</th>
                        <th>Institute</th>
                        <th>Result</th>
                        <th>Pass Year</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="titleHS" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="majorHS" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="collage" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="resultHS" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="passYearHS" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input asp-for="durationHS" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="form-group">
              <input type="submit" class="form-control" />
        </div>
</form>